.button {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  color: white;
  background-color: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button::after {
  content: "ripple";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  animation: ripple 1s ease-out;
}

.button:active::after {
  width: 200px;
  height: 200px;
  opacity: 1;
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.6;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
