.collapsible_child {
    border-top: 0.1px rgb(153, 153, 153) solid;
    padding: 8px;
    border-width: thin;
}

.container {
    margin-top: 0.125rem;
    background-color: white;
    padding-bottom: 2px;
    min-width: 15rem;
    box-shadow: 5px 2.5px 2.5px rgb(218, 215, 215);
}