.collapsible_child {
    border-top: 0.1px #2F2F2F solid;
    padding: 8px;
    border-width: thin;
    color: white;
}

.container {
    margin-top: 0.125rem;
    background-color: var(--header-color);
    padding-bottom: 2px;
    min-width: 15rem;
    border-radius: 0 0 4px 0;
}